@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mdx.css";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-neutral-200;
  }
  body {
    @apply min-h-screen bg-white font-sans text-neutral-900 antialiased dark:bg-neutral-900 dark:text-zinc-50;
  }
}
