---
import { getPosts } from '#/utils/blog';
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';
import PostCard from '../components/post-card.astro';
import SiteLayout from '../layouts/site-layout.astro';

const posts = (await getPosts()).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const postsByYears = posts.reduce<{ [key: string]: CollectionEntry<'blog'>[] }>(
  (acc, post) => {
    const date = post.data.date;
    const year = format(date, 'yyyy');

    if (!acc[year]) {
      acc[year] = [];
    }

    acc[year].push(post);
    return acc;
  },
  {}
);

const sortedYears = Object.keys(postsByYears).sort((a, b) => {
  const dateA = new Date(a);
  const dateB = new Date(b);

  return dateB.valueOf() - dateA.valueOf();
});
---

<SiteLayout>
  <div class="prose-sm md:prose prose-neutral pb-8">
    <p>
      I'm <a href="https://www.x.com/vincent_dstr" target="_blank"
        ><strong>Vincent</strong></a
      >, a software engineer living in France. I'm currently working as a
      freelance. Here, I write about my experiences and what I learn in life and
      mostly about software development.
    </p>
    <p>Impact-Site-Verification: 6cc80e6e-6424-4d7c-ad5c-8459c804952d</p>
  </div>
  <main class="flex flex-col gap-4">
    {
      sortedYears.map((month) => (
        <div class="flex flex-col gap-2">
          <h2 class="text-base font-bold lowercase text-neutral-700 font-display">
            {month}
          </h2>
          <div class="flex flex-col gap-1">
            {postsByYears[month].map((post) => (
              <PostCard {...post.data} />
            ))}
          </div>
        </div>
      ))
    }
  </main>
</SiteLayout>
