---
import FormattedDate from '#/components/formatted-date.astro';
import type { CollectionEntry } from 'astro:content';
import SiteLayout from '#/layouts/site-layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date } = Astro.props;
---

<SiteLayout title={title} description={description}>
  <main>
    <article>
      <div
        class="prose prose-neutral prose-headings:font-medium prose-headings:font-display"
      >
        <div class="flex flex-col">
          <div class="text-neutral-500">
            <FormattedDate date={date} />
          </div>
          <h1>{title}</h1>
        </div>
        <slot />
      </div>
    </article>
  </main>
</SiteLayout>
